.bg {
  background-color: Indigo;
  height: 100vh;
}

.h1 {
  background-color: rgb(154, 137, 137);
  text-align: center;
  color: MidnightBlue;
  font-size: 20px;
}

.continer {
  display: flex;
  gap: 10px;
}

.item {
  padding: 5px;
  padding-top: 15px;
  text-align: center;
  flex: 1
}

.imgSapato {
  height: 300px;
  width: 300px;
}
footer{
    background-color: gray;
    text-align: center;
    padding: 10px; 
    font-size: 20px;
}
